<div class="row heading">
  <div class="col">
    <h3 class="ml-3 mb-4">{{ sampleOrder.Country }}</h3>
    <span>{{ sampleOrder.Date }}</span>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-12 ml-3 mb-5 mt-3">
    <p class="title">Total Confirmed</p>
    <p>{{ sampleOrder.TotalConfirmed }}</p>
    <p class="title">New Confirmed</p>
    <p>{{ sampleOrder.NewConfirmed }}</p>
    <p class="title">Total Deaths</p>
    <p>{{ sampleOrder.TotalDeaths }}</p>
    <p class="title">New Deaths</p>
    <p>{{ sampleOrder.NewDeaths }}</p>
    <p class="title">Total Recovered</p>
    <p>{{ sampleOrder.TotalRecovered }}</p>
  </div>
</div>
